/* Stile generale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-color: #dac400;
}

/* Stile dei pulsanti */
button {
    border: none;
    background-color: transparent;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: rgb(102, 102, 102);
}

i {
    color: gray;
    font-size: 4em;
}

/* Stile del libro */
.book {
    width: 350px;
    height: 500px;
    position: relative;
    transition: transform 0.5s;
}

.paper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front, .back {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transform-origin: left;
    transition: transform 0.5s;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid #dac400;
}

.back {
    z-index: 0;
}

.flipped .front, .flipped .back {
    transform: rotateY(-180deg);
}

/* Stile delle immagini del menu */
.page-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
